<ion-header  >
  <ion-toolbar color="new">
    <ion-title>
      Pokemons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list >
  <ion-item color="dark" lines="full">
    <ion-thumbnail slot="start">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" alt="">
    </ion-thumbnail>
    <ion-label>
    <div>
      <h2>Bulbasaur</h2>
        <ion-badge color="grass">Grass</ion-badge>
        <ion-badge color="poison">Poison</ion-badge>
    </div>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list >
  <ion-item color="dark" lines="full">
    <ion-thumbnail slot="start">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/004.png" alt="">
    </ion-thumbnail>
    <ion-label>
    <div>
      <h2>Charmander</h2>
        <ion-badge color="fire">Fire</ion-badge>

    </div>

    </ion-label>
  </ion-item>

</ion-list>

<ion-list >
  <ion-item color="dark" lines="full">
    <ion-thumbnail slot="start">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png" alt="">
    </ion-thumbnail>
    <ion-label>
    <div>
      <h2>Squirtle</h2>
        <ion-badge color="whater">Water</ion-badge>
    </div>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list >
  <ion-item color="dark" lines="full">
    <ion-thumbnail slot="start">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/025.png" alt="">
    </ion-thumbnail>
    <ion-label>
    <div>
      <h2>Pikachu</h2>
        <ion-badge color="pikachu">Electric</ion-badge>

    </div>

    </ion-label>
  </ion-item>

</ion-list>

<ion-list >
  <ion-item color="dark" lines="full">
    <ion-thumbnail slot="start">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/052.png" alt="">
    </ion-thumbnail>
    <ion-label>
    <div>
      <h2>Meowth</h2>
        <ion-badge color="normal">Normal</ion-badge>

    </div>

    </ion-label>
  </ion-item>

</ion-list>

<ion-list >
  <ion-item color="dark" lines="full">
    <ion-thumbnail slot="start">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/092.png" alt="">
    </ion-thumbnail>
    <ion-label>
    <div>
      <h2>Gastly</h2>
        <ion-badge color="ghost">Ghost</ion-badge>
        <ion-badge color="poisong">Poison</ion-badge>
    </div>

    </ion-label>
  </ion-item>

</ion-list>

<ion-list >
  <ion-item color="dark" lines="full">
    <ion-thumbnail slot="start">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/063.png" alt="">
    </ion-thumbnail>
    <ion-label>
    <div>
      <h2>Abra</h2>
        <ion-badge color="abra">Psychic</ion-badge>
         </div>

    </ion-label>
  </ion-item>

</ion-list>


<ion-list >
  <ion-item color="dark" lines="full">
    <ion-thumbnail slot="start">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/048.png" alt="">
    </ion-thumbnail>
    <ion-label>
    <div>
      <h2>Venonat</h2>
        <ion-badge color="bug">Bug</ion-badge>
        <ion-badge color="poison">Poison</ion-badge>
    </div>

    </ion-label>
  </ion-item>

</ion-list>


<ion-list >
  <ion-item color="dark" lines="full">
    <ion-thumbnail slot="start">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/023.png" alt="">
    </ion-thumbnail>
    <ion-label>
    <div>
      <h2>Ekans</h2>

        <ion-badge color="poison">Poison</ion-badge>
    </div>

    </ion-label>
  </ion-item>

</ion-list>


<ion-list >
  <ion-item color="dark" lines="full">
    <ion-thumbnail slot="start">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/016.png" alt="">
    </ion-thumbnail>
    <ion-label>
    <div>
      <h2>Pidgey</h2>
        <ion-badge color="normal">Normal</ion-badge>
        <ion-badge class="pidgey">Flying</ion-badge>
    </div>

    </ion-label>
  </ion-item>

</ion-list>

</ion-content>
